.list-btn {
	height: 53px;
	width: 186px;
	border: 1px solid #ffffff;
	padding: 10px 15px;
	background-color: transparent;
	color: #fff;
	font-size: 1.2em;
	font-family: 500;
	transition: 0.2s;
	cursor: pointer;
	border-radius: 4px;
}

.list-btn:hover {
	background-color: white;
	color: black;
}

@media (max-width: 700px) {
	.list-btn {
		font-size: 0.9em;
		padding: 2px 10px;
		height: 43px;
		width: 136px;
	}
}
