.featured-film_background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://image.tmdb.org/t/p/original/3CxUndGhUcZdt1Zggjdb2HkLLQX.jpg);
	background-attachment: fixed;
	height: 70vh;
	width: 100%;
}

.featured-film_background::before {
	content: "";
	position: absolute;
	height: 70vh;
	width: 100%;
	background-image: linear-gradient(
		to bottom,
		transparent 70%,
		black
	);
	pointer-events: none;
}

.featured-film_container {
	margin-top: 3rem;
	height: 100%;
	width: 40vw;
	padding: 2rem;
	background-image: linear-gradient(to left, transparent, black 60%);
}

.featured-title {
	font-size: 1.8em;
}

.featured-avaliation {
	font-weight: bold;
	color: rgb(114, 223, 114);
}

.featured-synopse {
	line-height: 28px;
}

.featured-genres {
	margin-top: 1rem;
	color: rgb(158, 158, 158);
}

.container-films {
	padding: 0 2rem;
}

@media (max-width: 1000px) {
	.featured-film_container {
		width: 60vw;
	}
}

@media (max-width: 768px) {
	.featured-film_container {
		width: 80vw;
		padding: 1rem;
	}

	.container-films {
		padding: 0 1rem;
	}

	.featured-title {
		font-size: 1.5em;
	}

	.featured-avaliation,
	.featured-launch {
		font-size: 0.9em;
	}

	.featured-synopse {
		font-size: 0.8em;
		line-height: 23px;
	}

	.featured-genres {
		font-size: 0.8em;
	}
}
