.film-row_container {
	margin: 2rem 0;
}

.film-row_container h2 {
	margin-bottom: 1rem;
}

.film-row_content {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 300px;
	scroll-behavior: smooth;
}

.film-row_content::-webkit-scrollbar {
	display: none;
}

.film-row_left,
.film-row_right {
	position: absolute;
	height: 300px;
	width: 40px;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.2s;
	opacity: 0;
}

.film-row_left:hover {
	opacity: 1;
}

.film-row_right:hover {
	opacity: 1;
}

.film-row_left {
	left: 2%;
	background-image: linear-gradient(to left, transparent, black);
}

.film-row_right {
	right: 2%;
	background-image: linear-gradient(to right, transparent, black);
}

.film-row_content .container-movie {
	height: 100%;
	cursor: pointer;
	transition: 0.2s;
}

.container-movie img {
	border-radius: 10px;
}

.film-row_content .container-movie:hover {
	transform: scale(110%);
}

@media (max-width: 500px) {
	.film-row_content {
		height: 160px;
	}

	.film-row_container h2 {
		font-size: 1.2em;
	}

	.film-row_left,
	.film-row_right {
		height: 160px;
	}
}
