.header {
	position: fixed;
	top: 0;
	left: 0;
	background-image: linear-gradient(to top, transparent, black);
	z-index: 40;
	padding: 20px 1.5rem;
	height: 90px;
}

.logo-header img {
	width: 100px;
}

.navlinks ul li {
	display: inline-block;
	margin: 0 1rem;
	position: relative;
	right: 25%;
	font-size: 0.9em;
	cursor: pointer;
	transition: 0.2s;
}

.navlinks ul li:hover {
	opacity: 0.8;
}

.navlinks ul .active {
	font-weight: bold;
	font-size: 1.1em;
}

.icon-user_logged_container {
	font-size: 1.4em;
}

.icon {
	cursor: pointer;
	transition: 0.2s;
}

.icon:hover {
	opacity: 0.8;
}

.icon-user_logged_container {
	position: relative;
	margin-right: 2rem;
}

.icon-user_logged_container img {
	position: relative;
	top: 5px;
	max-height: 50px;
	cursor: pointer;
}

@media (max-width: 1133px) {
	.navlinks ul li {
		right: 10%;
	}
}

@media (max-width: 960px) {
	.navlinks ul li {
		position: static;
	}
}

@media (max-width: 843px) {
	.navlinks {
		display: none;
	}

	.icon-user_logged_container {
		margin-right: 0;
	}
}
