.play-btn {
	height: 53px;
	width: 186px;
	padding: 15px 30px;
	border-radius: 4px;
	font-size: 1.4em;
	cursor: pointer;
	transition: .2s;
}

.play-btn:hover {
	background-color: #e7e7e7;
}

@media (max-width: 700px) {
	.play-btn {
		font-size: 1em;
		padding: 5px 20px;
		height: 43px;
		width: 136px;
	}
}
