.view-more_content {
	height: 75vh;
	width: 80vw;
	background-color: #030303b6;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}

.view-more_header {
	position: absolute;
	top: 5%;
	right: 2%;
}

.view-more_header a {
	color: white;
}

.view-image_movie {
	width: 40%;
	height: 100%;
	object-fit: cover;
}

.view-details_movie {
	padding: 2rem;
	width: 60%;
}

.view-details_movie .view-title_movie {
	font-size: 1.6em;
	width: 80%;
	line-height: 60px;
}

.view-title_movie h1 {
	font-size: 1.9em;
}

.view-details_movie p {
	font-size: 1em;
	line-height: 30px;
}

@media (max-width: 800px) {
	.view-more_content {
		height: 95vh;
		width: 70vw;
		flex-direction: column;
	}

	.view-image_movie {
		width: 100%;
		height: 250px;
		object-position: center;
	}

	.view-more_header {
		top: 2%;
		right: 4%;
	}

	.view-details_movie {
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.view-title_movie h1 {
		font-size: 1.5em;
	}

	.view-details_buttons {
		flex-direction: column;
	}
}

@media (max-width: 500px) {
	.view-more_content {
		width: 90vw;
	}

	.view-title_movie h1 {
		font-size: 1.2em;
		line-height: normal;
	}
}

@media (max-width: 440px) {
	.view-title_movie h1 {
		font-size: 1.1em;
	}

	.view-details_movie p {
		font-size: 0.9em;
	}
}

@media (max-width: 360px) {
	.view-details_movie {
		padding-top: 5rem;
	}

	.view-title_movie h1 {
		font-size: 1.1em;
	}

	.view-details_movie p {
		font-size: 0.9em;
	}
}

@media (max-width: 320px) {
	.view-details_movie {
		padding-top: 10rem;
	}
}
